@import '~@/styles/variables';
@import '~@/styles/mixins';

.user-card {
  @include card-style;
  padding: $card-padding;
  width: $card-width;
  font-weight: 700;
  position: relative;
  z-index: 1;

  &.MuiPaper-root {
    background: $color-bg-card;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: $card-hover-shadow-1, $card-hover-shadow-2;
    border-color: $card-border-hover;
  }

  &__name {
    color: $color-text-white;
  }

  &__info {
    word-break: break-word;
    color: $color-text-white;
  }
}